
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=3c202d3b352af929958e38ed7b24e1db
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress