
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=a0b66a56a91996450a35a329f43db791
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress